body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .header {
    padding: 10px 16px;
    background: rgb(190, 190, 190);
    font-size: x-large;
    text-align: 100px;
  }
  
  .main_content {
    padding: 16px;
    background-color: lightslategray;
  }

  #start_page {

    display: grid;
    height: 120vh;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(3);
    grid-template-areas: 
    'Zoo Empty'
    'Empty Menu'
    'OmOss Empty'
    ;

  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .main_content {
    padding-top: 170px;
  }